<section class=" bg-gray-100">
    <div class="flex space-x-8 p-10">
        <!-- <img class="img0" src="https://images.pexels.com/photos/848595/pexels-photo-848595.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt=""> -->
        <p class="px-6 text-center">Passing through the rocky slabs that mark the entrance to Beaver Creek ski resort signifies you’re entering a special place, and Beaver Creek is undeniably distinct. A Beaver Creek, Colorado ski vacation is all about sophistication, luxury and class. Once you’ve left behind the bustle of Colorado’s main thoroughfare of the Rockies—I-70—and passed through Beaver Creek’s natural gateway, you’ll be greeted by an overall top-shelf atmosphere, complete with picture-perfect ski runs and a quaint, but polished Bavarian-style village. The hotels are lavish, foodies love the restaurants and the skiing is immaculate.</p>
    </div>
</section>
<section class=" bg-gray-100 dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 ">
        <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
            <h2 class="mb-4 text-2xl tracking-tight font-extrabold text-gray-900 dark:text-white">TOP BEAVER CREEK HOTELS + ACCOMODATIONS</h2>
            <p class="font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400">Explore the whole collection of open-source web components and elements built with the utility classes from Tailwind</p>
        </div> 

        <!-- <div class="grid gap-3 mb-6 lg:mb-16 md:grid-cols-4">
            <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                
                <div class="p-5">
                    <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                        <a href="#">Beaver Creek Lodge, Autograph Collection</a>
                    </h3>
                    <a href="#">
                        <img class="w-full rounded-lg sm:rounded-none sm:rounded-l-lg" src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/450970929.jpg?k=a8d0279068034128eb9178737cf84b2191515be492be8a3147d3b3f7e90b76d0&o=&hp=1" alt="Bonnie Avatar">
                    </a>
                    <span class="text-gray-500 dark:text-gray-400"> Description</span>
                    <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400"> 26 Avondale Lane, Beaver Creek, CO 81620, United States of America –</p>
                    <ul class="flex space-x-4 sm:mt-0">
                        <li>
                            <img src="../../assets/img/estrellaSVG.svg" alt="">
                        </li>
                        <li>
                            <img src="../../assets/img/estrellaSVG.svg" alt="">
                        </li>
                        <li>
                            <img src="../../assets/img/estrellaSVG.svg" alt="">
                        </li>
                        <li>
                            <img src="../../assets/img/estrellaSVG.svg" alt="">
                        </li>
                    </ul>
                </div>
            </div> 
            <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                <div class="p-5">
                    <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                        <a href="#">The Charter at Beaver Creek L222</a>
                    </h3>
                    <a href="#">
                        <img class="w-full rounded-lg sm:rounded-none sm:rounded-l-lg" src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/326819362.jpg?k=f4b91fedeb0b37720e5dabac50e3071659f8e8c21c98e90e1778c73e83a1ab84&o=&hp=1" alt="Jese Avatar">
                    </a>
                    <span class="text-gray-500 dark:text-gray-400">Description</span>
                    <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">Beaver Creek, 81620, United States of America</p>
                    <ul class="flex space-x-4 sm:mt-0">
                        <li>
                            <img src="../../assets/img/estrellaSVG.svg" alt="">
                        </li>
                        <li>
                            <img src="../../assets/img/estrellaSVG.svg" alt="">
                        </li>
                        <li>
                            <img src="../../assets/img/estrellaSVG.svg" alt="">
                        </li>
                        <li>
                            <img src="../../assets/img/estrellaSVG.svg" alt="">
                        </li>
                    </ul>
                </div>
            </div> 
            <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                <div class="p-5">
                    <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                        <a href="#">Poste Montane Lodge by East West</a>
                    </h3>
                    <a href="#">
                        <img class="w-full rounded-lg sm:rounded-none sm:rounded-l-lg" src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/138139306.jpg?k=4f1e90afb498c224d72a10103dc0fcb832888c566879e3fbee17730b18abdc80&o=&hp=1" alt="Michael Avatar">
                    </a>
                    <span class="text-gray-500 dark:text-gray-400">Description</span>
                    <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">76 Avondale Lane, Beaver Creek, CO 81620, United States of America </p>
                    <ul class="flex space-x-4 sm:mt-0">
                        <li>
                            <img src="../../assets/img/estrellaSVG.svg" alt="">
                        </li>
                        <li>
                            <img src="../../assets/img/estrellaSVG.svg" alt="">
                        </li>
                        <li>
                            <img src="../../assets/img/estrellaSVG.svg" alt="">
                        </li>
                        <li>
                            <img src="../../assets/img/estrellaSVG.svg" alt="">
                        </li>
                        <li>
                            <img src="../../assets/img/estrellaSVG.svg" alt="">
                        </li>
                    </ul>
                </div>
            </div> 
            <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                <div class="p-5">
                    <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                        <a href="#">The Ritz-Carlton, Bachelor Gulch</a>
                    </h3>
                    <a href="#">
                        <div id="default-carousel" class="relative w-full" data-carousel="static">
                             Carousel wrapper 
                            <div class="relative overflow-hidden rounded-lg" (mouseenter)="changeImage()" (mouseleave)="clearTimer(); resetImage()">
                              Item 1 
                              <div *ngIf="currentIndex === 1" class=" ease-in-out" data-carousel-item>
                                <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/450540516.jpg?k=e5f90ce0bb661e85a0339f363de98ebab68bb38ee0b0b0c45c0263af7e6087bd&o=&hp=1" alt="...">
                              </div>
                             
                              <div *ngIf="currentIndex === 2" class=" ease-in-out" data-carousel-item>
                                <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/480982427.jpg?k=c7bfcfbd34119e23273f222ffe90251abe0cd91454c2726a065578fe54025a94&o=&hp=1" alt="...">
                              </div>
                              <div *ngIf="currentIndex === 3" class="ease-in-out" data-carousel-item>
                                <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/480982399.jpg?k=dd49720864d535c326be6c3a5a1c33b5b411ede0848949d0552ff99240c34393&o=&hp=1" alt="...">
                              </div>
                              <div *ngIf="currentIndex === 4" class="ease-in-out" data-carousel-item>
                                <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/480982237.jpg?k=74b130c18eb592fe75af0d9ce2d3990442727c0179b4cb5fc82ccecd716703dc&o=&hp=1" alt="...">
                              </div>
                            </div>
                        </div>

                    </a>
                    <span class="text-gray-500 dark:text-gray-400">Description</span>
                    <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">0130 Daybreak Ridge, Beaver Creek, CO 81620, United States of America</p>
                    <ul class="flex space-x-4 sm:mt-0">
                        <li>
                            <img src="../../assets/img/estrellaSVG.svg" alt="">
                        </li>
                        <li>
                            <img src="../../assets/img/estrellaSVG.svg" alt="">
                        </li>
                        <li>
                            <img src="../../assets/img/estrellaSVG.svg" alt="">
                        </li>
                        <li>
                            <img src="../../assets/img/estrellaSVG.svg" alt="">
                        </li>
                    </ul>
                </div>
            </div>  
        </div>   -->
        
            <ul class="grid gap-3 mb-6 lg:mb-16 md:grid-cols-4">
              @for (hotel of hotelService.hotels(); track hotel.id){
              <li>
                <div class=" items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700 ">
                        
                    <div class="p-5 ">
                        <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                            <a href="#">{{ hotel.name }}</a>
                        </h3>
                        <a href="#">
                            <img class=" object-cover rounded-lg sm:rounded-none sm:rounded-l-lg" src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/450970929.jpg?k=a8d0279068034128eb9178737cf84b2191515be492be8a3147d3b3f7e90b76d0&o=&hp=1" alt="Bonnie Avatar">
                        </a>
                        <span class="text-gray-500 dark:text-gray-400"> {{ hotel.description }}</span>
                        <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400"> {{ hotel.address }}</p>
                        <!-- <ul class="flex space-x-4 sm:mt-0">
                            <li>
                                <img src="../../assets/img/estrellaSVG.svg" alt="">
                            </li>
                            <li>
                                <img src="../../assets/img/estrellaSVG.svg" alt="">
                            </li>
                            <li>
                                <img src="../../assets/img/estrellaSVG.svg" alt="">
                            </li>
                            <li>
                                <img src="../../assets/img/estrellaSVG.svg" alt="">
                            </li>
                        </ul> -->
                        <ul class="flex space-x-4 sm:mt-0">
                            <li *ngFor="let star of [].constructor(hotel.punt); let i = index">
                              <img src="../../assets/img/estrellaSVG.svg" alt="Estrella {{ i + 1 }}">
                            </li>
                          </ul>
                    </div>
                </div> 
              </li>
              } @empty {
              <h3>Cargando</h3>
              }
            </ul>
       
    </div>
  </section>
