<section class="bg-gray-100">
  <div class="flex space-x-8 p-10">
    <!-- <img class="img0" src="https://images.pexels.com/photos/848595/pexels-photo-848595.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt=""> -->
    <p class="px-6 text-center">
      Passing through the rocky slabs that mark the entrance to Beaver Creek ski
      resort signifies you’re entering a special place, and Beaver Creek is
      undeniably distinct. A Beaver Creek, Colorado ski vacation is all about
      sophistication, luxury and class. Once you’ve left behind the bustle of
      Colorado’s main thoroughfare of the Rockies—I-70—and passed through Beaver
      Creek’s natural gateway, you’ll be greeted by an overall top-shelf
      atmosphere, complete with picture-perfect ski runs and a quaint, but
      polished Bavarian-style village. The hotels are lavish, foodies love the
      restaurants and the skiing is immaculate.
    </p>
  </div>
</section>
<section class="bg-gray-100 dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
      <h2
        class="mb-4 text-2xl tracking-tight font-extrabold text-gray-900 dark:text-white"
      >
        TOP BEAVER CREEK HOTELS + ACCOMODATIONS
      </h2>
      <p
        class="font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400"
      >
        Explore the whole collection of open-source web components and elements
        built with the utility classes from Tailwind
      </p>
      
    </div >
    <div  *ngIf="!estaCargando()">
      <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig"
      >
        <div ngxSlickItem *ngFor="let hotel of hotelService.hotels()" class="slide">
          <div
            class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700 miCard"
          >
            <div class="p-5">
              <h3
                class="text-xl font-bold tracking-tight text-gray-900 dark:text-white"
              >
                <a href="#">{{ hotel.name }}</a>
              </h3>
              <a href="#">
                <img
                  class="object-cover rounded-lg sm:rounded-none sm:rounded-l-lg"
                  src="{{ hotel.img }}"
                  alt="Bonnie Avatar"
                />
              </a>
              <span class="text-gray-500 dark:text-gray-400">
                {{ hotel.description }}</span
              >
              <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">
                {{ hotel.address }}
              </p>
              <ul class="flex space-x-4 sm:mt-0">
                <li
                  *ngFor="let star of [].constructor(hotel.punt); let i = index"
                >
                  <img
                    src="../../assets/img/estrellaSVG.svg"
                    alt="Estrella {{ i + 1 }}"
                  />
                </li>
              </ul>
            </div>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
    <div ngxUiLoaderBlurred [loaderId]="'loader-01'">
      <ngx-ui-loader></ngx-ui-loader>
    </div>
    <!-- <ngx-ui-loader [loaderId]="'loader-01'"></ngx-ui-loader> -->
    <!-- <div *ngIf="estaCargando()">
      <section >
       
      </section>
    </div> -->
  </div>
  
</section>
