<section class="bg-gray-200">
  <div ngxUiLoaderBlurred [loaderId]="'loader-04'">
    <ngx-ui-loader></ngx-ui-loader>
  </div>
  <div class="flex flex-col justify-center items-center px-6 py-8">
    <div class="bg-white w-2/4 p-6 rounded-lg shadow-lg">
      <div class="">
        <img
          class="mx-auto h-12 w-auto"
          src="https://pbs.twimg.com/profile_images/717392196014440448/W6GY_MFe_400x400.jpg"
          alt="Your Company"
        />
        <h2
          class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
        >
          Sign up
        </h2>
      </div>

      <div class="mt-10">
        <form [formGroup]="signupForm" class="space-y-6" autocomplete="off">
          <div class="flex space-x-2 w-full">
            <mat-form-field class="w-full">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name">
            </mat-form-field>
            <mat-form-field class="w-full">
              <mat-label>Username</mat-label>
              <input matInput formControlName="userName" />
              <mat-error
                *ngIf="
                  signupForm.get('userName')?.hasError('required') &&
                  (signupForm.get('userName')?.dirty ||
                    signupForm.get('userName')?.touched)
                "
              >
                Username is required
              </mat-error>
              <mat-error
                *ngIf="
                  signupForm.get('userName')?.hasError('minlength') &&
                  (signupForm.get('userName')?.dirty ||
                    signupForm.get('userName')?.touched)
                "
              >
                Must have at least 3 characters
              </mat-error>
            </mat-form-field>
          </div>

            <mat-form-field class="w-full">
              <mat-label>Enter your password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" name="password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error
              *ngIf="
                signupForm.get('password')?.hasError('required') &&
                (signupForm.get('password')?.dirty ||
                signupForm.get('password')?.touched)
              "
            >
              Password is required
            </mat-error>
            <mat-error
              *ngIf="
                signupForm.get('password')?.hasError('pattern') &&
                (signupForm.get('password')?.dirty ||
                signupForm.get('password')?.touched)
              "
            >
              Password must contain at least one uppercase letter, one lowercase
              letter, one number and be between 6 and 32 characters long
            </mat-error>
            <mat-hint>Must contain at least one uppercase letter, one lowercase
              letter and a number</mat-hint>
            </mat-form-field>

            <mat-form-field class="w-full">
              <mat-label>Repeat password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="repPassword">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error
           
                *ngIf="repPassword !== password"
                class="text-red-500 text-xs mt-1"
              >
                Las contraseñas no coinciden.
          
              </mat-error>
            </mat-form-field>
          
          <div class="flex justify-center">
            <button  mat-raised-button 
            [disabled]="!signupForm.valid"
            (click)="signin()"
            class="rounded-md px-3 py-1.5 text-sm leading-6 shadow-sm hover:bg-gray-500  focus-visible:outline-gray-600"
            >Sign Up</button>
           
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
