<section class="bg-gray-50">
  <section>
    <h1
      class="pt-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
    >
      ABOUT BEAVER CREEK
    </h1>
    <div class="flex space-x-12 p-12">
      <div class="space-y-11 text-center">
        <p class="">
          Passing through the rocky slabs that mark the entrance to Beaver Creek
          ski resort signifies you’re entering a special place, and Beaver Creek
          is undeniably distinct. A Beaver Creek, Colorado ski vacation is all
          about sophistication, luxury and class. Once you’ve left behind the
          bustle of Colorado’s main thoroughfare of the Rockies—I-70—and passed
          through Beaver Creek’s natural gateway, you’ll be greeted by an
          overall top-shelf atmosphere, complete with picture-perfect ski runs
          and a quaint, but polished Bavarian-style village. The hotels are
          lavish, foodies love the restaurants and the skiing is immaculate.
        </p>
        <p>
          While there are so many things to do and experience at the Beaver
          Creek village you aren’t limited to the base area for shopping, dining
          and activities. Beaver Creek’s convenient location near neighboring
          towns Avon, Edwards and Vail adds a whole new element to off-mountain
          activities sure to please every interest, palate and preference.
        </p>
      </div>
      <!-- <img src="https://images.pexels.com/photos/3639709/pexels-photo-3639709.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" class="imgAbout0"> -->
      <img src="../../assets/img/ski.jpeg" alt="" class="imgAbout0 pt-4" />
    </div>
  </section>
  <section class="dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
      <div class="max-w-screen-md mb-8 lg:mb-16">
        <h2
          class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
        >
          Designed for you
        </h2>
      </div>
      <div
        class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0"
      >
        <div>
          <div
            class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
          >
            <img
              src="../../assets/img/Stay.png"
              alt=""
              class="lg:h-6 lg:w-8"
              fill="currentColor"
              viewBox="0 0 20 20"
            />
          </div>
          <h3 class="mb-2 text-xl font-bold dark:text-white">Stay</h3>
          <p class="text-gray-500 dark:text-gray-400">
            ...in Beaver Creek Village or the ski in ski out Bachelor Gulch
            area.
          </p>
        </div>
        <div>
          <div
            class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
          >
            <img
              src="../../assets/img/Travel.png"
              alt=""
              class="lg:h-8 lg:w-10"
              fill="currentColor"
              viewBox="0 0 20 20"
            />
          </div>
          <h3 class="mb-2 text-xl font-bold dark:text-white">Travel</h3>
          <p class="text-gray-500 dark:text-gray-400">
            ...by flying into Denver or Eagle County Airport.
          </p>
        </div>
        <div>
          <div
            class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
          >
            <img
              src="../../assets/img/Explore.png"
              alt=""
              class="lg:h-6 lg:w-8"
              fill="currentColor"
              viewBox="0 0 20 20"
            />
          </div>
          <h3 class="mb-2 text-xl font-bold dark:text-white">Explore</h3>
          <p class="text-gray-500 dark:text-gray-400">
            …20 miles of Nordic trails in McCoy Park.
          </p>
        </div>
        <div>
          <div
            class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
          >
            <img
              src="../../assets/img/Treats.png"
              alt=""
              class="lg:h-6 lg:w-8"
              fill="currentColor"
              viewBox="0 0 20 20"
            />
          </div>
          <h3 class="mb-2 text-xl font-bold dark:text-white">Treat</h3>
          <p class="text-gray-500 dark:text-gray-400">
            …yourself to a ritual at Park Hyatt’s Allegria Spa.
          </p>
        </div>
        <div>
          <div
            class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
          >
            <img
              src="../../assets/img/Ski.png"
              alt=""
              class="lg:h-8 lg:w-8"
              fill="currentColor"
              viewBox="0 0 20 20"
            />
          </div>
          <h3 class="mb-2 text-xl font-bold dark:text-white">Ski</h3>
          <p class="text-gray-500 dark:text-gray-400">
            ...at a top elevation of 11,440'.
          </p>
        </div>
        <div>
          <div
            class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
          >
            <img
              src="../../assets/img/Enjoy.png"
              alt=""
              class="lg:h-6 lg:w-8"
              fill="currentColor"
              viewBox="0 0 20 20"
            />
          </div>
          <h3 class="mb-2 text-xl font-bold dark:text-white">Enjoy</h3>
          <p class="text-gray-500 dark:text-gray-400">
            ...breathtaking views of Gore Range.
          </p>
        </div>
      </div>
    </div>
  </section>
</section>
