@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
label {
    font-family: 'Noto Sans', sans-serif;
}

:host {
    display: flex;
    flex-direction: column;
}

 

  .mat-input-element {
    color: red !important;
  }
