<section class="bg-gray-200">
  <div ngxUiLoaderBlurred [loaderId]="'loader-03'">
    <ngx-ui-loader></ngx-ui-loader>
  </div>
  <div class="flex flex-col justify-center items-center px-6 py-8">
    <div class="bg-white w-2/4 p-6 rounded-lg shadow-lg">
      <div class="">
        <img
          class="mx-auto h-12 w-auto"
          src="https://pbs.twimg.com/profile_images/717392196014440448/W6GY_MFe_400x400.jpg"
          alt="Your Company"
        />
        <h2
          class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
        >
          Log in to your account
        </h2>
      </div>

      <div class="mt-10 p-6">
        <form [formGroup]="loginForm" class="space-y-6" autocomplete="off">
          <mat-form-field class="w-full custom-form-field !important">
            <mat-label>Username</mat-label>
            <input matInput formControlName="userName" class="custom-input !important"/>
            <mat-error
              *ngIf="
                loginForm.get('userName')?.hasError('required') &&
                (loginForm.get('userName')?.dirty ||
                  loginForm.get('userName')?.touched)
              "
            >
              Username is required
            </mat-error>
            <mat-error
              *ngIf="
                loginForm.get('userName')?.hasError('minlength') &&
                (loginForm.get('userName')?.dirty ||
                  loginForm.get('userName')?.touched)
              "
            >
              Must have at least 3 characters
            </mat-error>
          </mat-form-field>

          <div class="text-sm text-end mt-0">
            <a
              routerLink="/signin"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              class="font-semibold text-gray-600 hover:text-gray-500"
              >Forgot password?</a
            >
          </div>

          <mat-form-field class="w-full">
            <mat-label>Password</mat-label>
            <input
              matInput
              class="custom-form-field"
              formControlName="password"
            />
            <mat-error
              *ngIf="
                loginForm.get('password')?.hasError('required') &&
                (loginForm.get('password')?.dirty ||
                  loginForm.get('password')?.touched)
              "
            >
              Password is required
            </mat-error>
            <mat-error
              *ngIf="
                loginForm.get('password')?.hasError('pattern') &&
                (loginForm.get('password')?.dirty ||
                  loginForm.get('password')?.touched)
              "
            >
              Password must contain at least one uppercase letter, one lowercase
              letter, and be between 6 and 32 characters long
            </mat-error>
            
          </mat-form-field>

          <div class=" flex justify-center">
            <button
              [disabled]="!loginForm.valid"
              class="rounded-md px-3 py-1.5 text-sm leading-6 shadow-sm hover:bg-gray-500  focus-visible:outline-gray-600"
              mat-raised-button
              (click)="login()"
            >
              Login
            </button>
          </div>
        </form>

        <p class="mt-10 text-center text-sm text-gray-500">
          Not a member?
          <a
            routerLink="/signin"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="font-semibold leading-6 text-gray-600 hover:text-gray-500"
            >Start creating an account</a
          >
        </p>
      </div>
    </div>
  </div>
</section>
